@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-navy-deep: #050B1F;
  --color-navy-surface: #0E1A3D;
  --color-navy-bg: #020617;
  --text-secondary: #94A3B8;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--color-navy-bg);
  color: white;
}
